<!DOCTYPE html>
<html>
<head>
<title>Currency Exchange</title>
<link rel="stylesheet" type="text/css" href="style.css">
<style>
h1 {
    
    text-align: center;
}

p {
    
    text-align: center;
}

list_style{
   
}

</style>
</head>
<body> <!-- style="background-image: url(http://i.imgur.com/hsp3mTt.jpg);"> -->
<h1><u>Currency Exchange</u></h1>
<p>Input</p>
	<form method="POST" action="/">
		<p><input name="item_text" id="id_currency" placeholder="Test BOX" /></p>
		{% csrf_token %}
	</form>
	<table id="id_list_table">
		{% for item in item_all %}
	        	<tr><td><list_style>{{ forloop.counter }}: {{ item.text }}</list_style></td></tr>
		{% endfor %}
    	</table>

</body>
</html>
