<!DOCTYPE html>
<html>
<style>
body {
    font-family: 'Ubuntu';
    background: #c44032;
    color: #f4f1de;
    text-align: center;
}
h1{	
    font-size: 250%;
}
input[type="text"]{
    width: 10%;
}
textarea {
    font-size: 100%;
    text-align: center;
    font-family: 'Ubuntu';
} 
</style>

<link rel="stylesheet" type="text/css" href=style.css">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">

<meta charset="utf-8">
<meta http-equiv="content-language" content="en">

<title>Currency Exchanger</title>

<body> <!-- style="background-image: url(http://i.imgur.com/hsp3mTt.jpg);">
-->
<h1><u>RATES</u></h1>
    Select Base : 
<form action="" method="POST" name="sel">
	<select id="CURR_FR" class="postfix">
        	<!-- Tier 1 -->
        	<option value="EUR">Euro (EUR)</option>     
        	<option value="GBP">Pound Sterling (GBP)</option>        
        	<option value="THB">Thailand Baht (THB)</option>
		<option value="USD" selected="selected">United States Dollar (USD)</option>
		<!-- Tier 2 -->
		<option class='dis' disabled="disabled">----More----</option>
        	<option value="AUD">Australian Dollar (AUD)</option>  
		<option value="BGN">Bulgarian Lev (BGN)</option>  
		<option value="BRL">Brazilian Real (BRL)</option>  
		<option value="CAD">Canadian Dollar (CAD)</option>  
		<option value="CHF">Swiss Franc (CHF)</option>  
		<option value="CNY">Chinese Yuan Renminbi (CNY)</option>  
		<option value="CZK">Czech Koruna (CZK)</option>  
		<option value="DKK">Danish Krone (DKK)</option>  
		<option value="HKD">Hong Kong Dollar (HKD)</option>  
		<option value="HUF">Hungarian Forint (HUF)</option>    
		<option value="IDR">Indonesian Rupiah (IDR)</option>    
		<option value="ILS">Israeli Shekel (ILS)</option>    
		<option value="INR">Indian Rupee (INR)</option>    
		<option value="JPY">Japanese Yen (JPY)</option>    
		<option value="KRW">South Korean Won (KRW)</option>    
		<option value="MXN">Mexican Peso (MXN)</option>    
		<option value="MYR">Malaysian Ringgit (MYR)</option>    
		<option value="NOK">Norwegian Krone (NOK)</option>    
		<option value="NZD">New Zealand Dollar (NZD)</option>    
		<option value="PHP">Philippine Peso (PHP)</option>      
		<option value="RON">Romanian New Leu (RON)</option>      
		<option value="RUB">Russian Ruble (RUB)</option>      
		<option value="SEK">Swedish Krona (SEK)</option>      
		<option value="SGD">Singapore Dollar (SGD)</option>      
		<option value="TRY">Turkish Lira (TRY)</option>      
		<option value="ZAR">South African Rand (ZAR)</option> 
     	</select>
	<input type="button" name="result" id="btnResult" value="RESULT" onclick="Result()">
	<br>
	<textarea id="textarea" readonly="readonly" placeholder="Press RESULT Button" rows="32" cols="15" ></textarea> 
	{% csrf_token %}
</form>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
function Result() {
    var FRO = $("#CURR_FR").find(":selected").val();
    var urlAPI = 'http://api.fixer.io/latest?base='+FRO;  
    var result='';
    $( document ).ready(function () {	
        $( document ).on( "click", "#btnResult",function () {
            $.ajax({
	        url: urlAPI,
		dataType: 'jsonp',
		success: function(data){
		    $.each(data, function(name,value) {
			$.each(this, function(sign,rate) {
				if(isNaN(sign))				
					result = result+sign+' = '+rate+'\n';				
			});    
		    });    
		    document.sel.textarea.value = result;
		}
	    });
        });
    });
}
</script>
Thank You <br>
Exchange API : <a href=http://fixer.io/>Fixer.io</a>
</body>
</html>
