<!DOCTYPE html>
<html>
<head>
<title>Currency Exchange</title>
<link rel="stylesheet" type="text/css" href="style.css">
<style>
body {
    font-family: 'Ubuntu';
    !background: #4968AB;
    !color: #f4f1de;
    text-align: center;
}
h1{	
    font-size: 250%;
}
input[type="text"]{
    width: 10%;
}
</style>
</head>
<body> <!-- style="background-image: url(http://i.imgur.com/hsp3mTt.jpg);"> -->
<h1>HELLO !</h1>

<!-- {{ itemDB }} -->
<br>
<form method="POST">
Amount
	<p><input name="amt" id="amt" value="1" onKeyUp="if(isNaN(this.value)){ alert('Insert Only Number'); this.value='';}" /></p>

<!--
	<p><input name="Cfrom" id="Cfrom" placeholder="From" /></p>
 	<p><input name="Cto" id="Cto" placeholder="To" /></p>
-->
From
     <select id="Cfrom" class="postfix">
        <!-- Tier 1 -->
	<option class='dis' disabled="disabled">----Most Usage----</option>
        <option value="EUR">Euro (EUR)</option>     
        <option value="GBP">Pound Sterling (GBP)</option>        
        <option value="THB">Thailand Baht (THB)</option>
	<option value="USD" selected="selected">United States Dollar (USD)</option>
	<!-- Tier 2 -->
	<option class='dis' disabled="disabled">----More----</option>
        <option value="AUD">Australian Dollar (AUD)</option>  
	<option value="BGN">Bulgarian Lev (BGN)</option>  
	<option value="BRL">Brazilian Real (BRL)</option>  
	<option value="CAD">Canadian Dollar (CAD)</option>  
	<option value="CHF">Swiss Franc (CHF)</option>  
	<option value="CNY">Chinese Yuan Renminbi (CNY)</option>  
	<option value="CZK">Czech Koruna (CZK)</option>  
	<option value="DKK">Danish Krone (DKK)</option>  
	<option value="HKD">Hong Kong Dollar (HKD)</option>  
	<option value="HUF">Hungarian Forint (HUF)</option>    
	<option value="IDR">Indonesian Rupiah (IDR)</option>    
	<option value="ILS">Israeli Shekel (ILS)</option>    
	<option value="INR">Indian Rupee (INR)</option>    
	<option value="JPY">Japanese Yen (JPY)</option>    
	<option value="KRW">South Korean Won (KRW)</option>    
	<option value="MXN">Mexican Peso (MXN)</option>    
	<option value="MYR">Malaysian Ringgit (MYR)</option>    
	<option value="NOK">Norwegian Krone (NOK)</option>    
	<option value="NZD">New Zealand Dollar (NZD)</option>    
	<option value="PHP">Philippine Peso (PHP)</option>      
	<option value="RON">Romanian New Leu (RON)</option>      
	<option value="RUB">Russian Ruble (RUB)</option>      
	<option value="SEK">Swedish Krona (SEK)</option>      
	<option value="SGD">Singapore Dollar (SGD)</option>      
	<option value="TRY">Turkish Lira (TRY)</option>      
	<option value="ZAR">South African Rand (ZAR)</option>    
     </select>
To
     <select id="Cto" class="postfix">        
        <!-- Tier 1 -->
        <option value="EUR">Euro (EUR)</option>     
        <option value="GBP">Pound Sterling (GBP)</option>        
        <option value="THB" selected="selected">Thailand Baht (THB)</option>
	<option value="USD">United States Dollar (USD)</option>
	<!-- Tier 2 -->
	<option class='dis' disabled="disabled">----More----</option>
        <option value="AUD">Australian Dollar (AUD)</option>  
	<option value="BGN">Bulgarian Lev (BGN)</option>  
	<option value="BRL">Brazilian Real (BRL)</option>  
	<option value="CAD">Canadian Dollar (CAD)</option>  
	<option value="CHF">Swiss Franc (CHF)</option>  
	<option value="CNY">Chinese Yuan Renminbi (CNY)</option>  
	<option value="CZK">Czech Koruna (CZK)</option>  
	<option value="DKK">Danish Krone (DKK)</option>  
	<option value="HKD">Hong Kong Dollar (HKD)</option>  
	<option value="HUF">Hungarian Forint (HUF)</option>    
	<option value="IDR">Indonesian Rupiah (IDR)</option>    
	<option value="ILS">Israeli Shekel (ILS)</option>    
	<option value="INR">Indian Rupee (INR)</option>    
	<option value="JPY">Japanese Yen (JPY)</option>    
	<option value="KRW">South Korean Won (KRW)</option>    
	<option value="MXN">Mexican Peso (MXN)</option>    
	<option value="MYR">Malaysian Ringgit (MYR)</option>    
	<option value="NOK">Norwegian Krone (NOK)</option>    
	<option value="NZD">New Zealand Dollar (NZD)</option>    
	<option value="PHP">Philippine Peso (PHP)</option>      
	<option value="RON">Romanian New Leu (RON)</option>      
	<option value="RUB">Russian Ruble (RUB)</option>      
	<option value="SEK">Swedish Krona (SEK)</option>      
	<option value="SGD">Singapore Dollar (SGD)</option>      
	<option value="TRY">Turkish Lira (TRY)</option>      
	<option value="ZAR">South African Rand (ZAR)</option> 
     </select>
<br><br>
        <p><input type="button" name="convert" id="convert" value="Convert"></p>
        <p><input name="result" id="result" readonly="readonly" placeholder="Result" ></p>
	{% csrf_token %}
</form>

<br>
 {% for item in itemDB %}
   {{ item.result }}
 {% endfor %}
<br>
{% if itemDB %}
    <ul>
    {% for i in itemDB %}
        <li> {{ i }} </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No one are available.</p>
{% endif %}

<!--
<table id="id_list_table">
	{% for item in item_all %}
		<tr><td><list_style>{{ forloop.counter }}: {{ item.text }}</list_style></td></tr>
		{% endfor %}
    	</table>
-->
</body>
</html>
